{% extends "layout.html" %}


{% block body %}

    <form method="post" action="{{url_for('home')}}">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="email" class="form-control" name="username">
        <div class="form-text">You can only log in if you are a Registered Admin</div>

        <div class="mb-3">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <!-- <button type="submit" class= "btn btn-primary">Login</button> -->
        <a class= "btn btn-primary" href="/home">Admin Page</a>
      </form>
</body>
</html>


{% endblock %}